<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
<div id="login_button" onclick="VK.Auth.login(authInfo);"> vklogin </div>
<script language="javascript"> 
    VK.init({   apiId: '4933339' }); 
    function authInfo(response) {   
        if (response.session) {     
        alert('user: '+response.session.mid);   
        } 
        else {     
            alert('not auth');   
        }
    } 
    VK.Auth.getLoginStatus(authInfo); 
    VK.UI.button('login_button');
</script>

<!--fb:login-button show-faces="true" max-rows="1" size="large">
</fb:login-button>

<input type="button" ng-click="logout()" value="logout"-->
<input type="button" ng-click="send()" value="send">
<input type="textarea" ng-model="firstId" ng-change="check()">
<input type="textarea" ng-model="secondId" ng-change="check()">



<div id="status">
Hello {{lal}}

</div>

<div id="fb-root"></div>
